/*Body Tag Settings*/
body {
	/*Text color*/
	color: white;
	/*BG Color*/
	background: #1a1a1a;

	/*Allows reasonable width and centers*/
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/*Prices Class Settings*/
.prices {
	color: green;
}

/*Navigation Bar Settings*/
.navbar {
	text-align: center;
}
.toplinks {
	 display: inline;
	 padding: 4px;
}
.toplinks a:hover {
	 display: inline;
	 color: black;
	 background-color: yellow;
}
.currentpage {
	display: inline;
	color: black;
	background-color: yellow;
}

/*Link Highlihts*/
a {
	color: yellow;
}

/*Cow Class Setings*/
.cow {
	font-family: monospace;
}

/*Make Cursor Blink*/
.blink {
	animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

/*Footer*/
/*Unused as there is no content in footer*/
footer {
	position: fixed;
	bottom: 0;
	width: 1000px;
}

/*Comment*/
